* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;
}
li, ul {
  font-size: 0px;
}

body {
  /*background: #e8e8e8;*/
  font-family: 'Space Mono', monospace;
}
main {
  margin-top: 80px;
}

h1 {
  display:none;
}

section.board {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 30px;
  text-align: center;
  /*top:50%;
  left: 50%;
  margin: -15% 0 0 -25%;*/
}
section.board div.instructions{
  position: absolute;
  display: block;
  text-align: center;
  background: white;
  color:black;
  width:50%;
  height:70%;
  left:25%;
  top:15%;
  margin: 0 auto;
  opacity: 0;
}
div.instructions img{
  width:150px;
  height:150px;
}
section.board div.instructions div {
  background:;
  font-size: 18px;
  display:inline-block;
  margin: 10px;
  margin-top: 50px;
}

section.belowBoard {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
}
section.board div.hide, section.hide {
  display: none;
 }

section.scoreSection, section.levelSection {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: black;
  background:;
  width: 300px;
  height: 30px;
  /*margin: auto;*/
  /*text-align: center;*/
}

section.belowBoard div{
  font-size: 20px;
  color: #3F453D;
  background:;
  display:inline-block;
}
/*div.gameBoard {
  background: black;
  width: 80%;
}*/

ul.block {
  background: #e8e8e8;
  margin: 0 auto;
  width:1080px;
}

li.cell {
  list-style: none;
  display:inline-block;
  width: 15px;
  height: 15px;
  background: #e8e8e8;
}

li.snake {
  background: #6AAD76;
}

li.cell.foodSwallowed {
  background: #99ccff;
  opacity: 0.8;
}
li.cell.foodEaten {
  background: #1a8cff;
  opacity: 1;
}
li.cell.food {
  background: #400080;
  opacity: 1;
}

li.snakeFront {
  background: #8995a9;
  animation-duration: 50ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

li.cell.walls {
  background: black;
}

@keyframes blink {
   from {
      background: #8995a9;
   }
   to {
      background: #a0adc1;
   }
 }
